# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor de texto e IDEs
*.swp
*~
.vscode/
.idea/
.DS_Store

# Docker
*.log
Dockerfile
docker-compose.yml

# Ambiente virtual
*.env
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Logs
*.log

# Configurações do sistema
*.env
